// SANS
.avenir { font-family: avenir; }
.sans-serif { font-family: sans-serif }

// SERIF
.et-book { font-family: et-book; }
.et-book-roman-old-style { font-family: et-book-roman-old-style;}

// SPACING
.spacing       { letter-spacing:  .05em; }
.spacing-tight { letter-spacing: -.05em; }
.spacing-mega  { letter-spacing:  .25em; }

h1, h2, h3, h4, h5, h6 { font-family: sans-serif; }
