<div class="pt1">
  <h1 class=""><a class="" href="/">{{ site.aka }}</a><span class="cursor">_</span></h1>
  <h2 class="b f3 f2-ns lh-solid">{{ site.subtitle }}</h2>
  <nav>
    <ul>
      <li><a href="#Chi" class="">Chi</a></li>
      <li><a href="#Cosa" class="">Cosa</a></li>
      <li><a href="#Acquista" class="">Acquista</a></li>
      <li><a href="#Ascolta" class="">Perché</a></li>
      <li><a href="#Fatto" class="">Come</a></li>
    </ul>
  </nav>
  <h3></h3>

</div>
