---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" dir="ltr">
  {%- include head.html -%}

  <body class="et-book">
    {%- include header.html -%}
    {{ content }}

    {%- include footer.html -%}

  </body>
</html>
